
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #120b0b;
    color: white;
    line-height: 1.5;
}

header {
    background-color: #7a1f16;
    padding: 15px;
    border-bottom: 4px solid #3a0c08;
}

header h1 {
    text-align: center;
    font-size: 32px;
    margin: 0;
}

nav {
    margin-top: 15px;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 6px 8px;
}

nav a {
    padding: 10px 14px;
    border: 2px solid #3a0c08;
    background-color: #c0392b;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #3a0c08;
    border: 2px solid #c0392b;
}


nav li:nth-child(1) a { background-color: #2aa65a; } 
nav li:nth-child(2) a { background-color: #c0392b; } 
nav li:nth-child(3) a { background-color: #2980b9; } 
nav li:nth-child(4) a { background-color: #8e44ad; } 
nav li:nth-child(5) a { background-color: #f39c12;  } 


nav li:nth-child(1) a:hover { background-color: #0b3d1c; }
nav li:nth-child(2) a:hover { background-color: #3a0c08; }
nav li:nth-child(3) a:hover { background-color: #123d66; }
nav li:nth-child(4) a:hover { background-color: #4c1f63; }
nav li:nth-child(5) a:hover { background-color: #b9770e;  }



main {
    width: 100%;
}

section {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.04);
    border-left: 6px solid #c0392b;
    border-radius: 12px;
}



h1, h2, h3 {
    text-align: center;
}

h1 {
    margin-top: 25px;
    font-size: 30px;
    color: #ff6b6b;
}

h2 {
    margin-top: 10px;
    font-size: 24px;
    color: #ffd36b;
}

h3 {
    margin-top: 20px;
    font-size: 20px;
    color: #7bdcff;
}



p {
    width: 90%;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px 14px;
    border-left: 5px solid #ff6b6b;
    border-radius: 8px;
}



hr {
    width: 90%;
    border: none;
    height: 3px;
    background-color: #c0392b;
    margin: 25px auto;
    border-radius: 10px;
}



img {
    display: block;
    margin: 12px auto;
    border-radius: 12px;
    border: 3px solid #c0392b;
    max-width: 90%;
}



table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse; 
    border-radius:12px;
}


th {
    background-color: #c0392b;
    color: white;
    padding: 12px;
    text-align: center;
    border: 2px solid black; 
    font-size: 16px;
    
}

td {
    padding: 12px;
    border: 2px solid black; 
    text-align: center;
    font-size: 15px;
    color:black;
    background-color: white;
}


.mobs-galerie {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-wrap: wrap;
}


.mob {
    width: 220px;
    text-align: center;
    background-color: blue;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px;
}


.mob img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 3px solid blueviolet;
    border-radius: 12px;
}

.mob p {
    width: auto;
    margin: 10px ;
    text-align:center;
    padding: 2px;
    border: none;
    font-weight: bold;
    color: #ffd36b;
}



footer {
    margin-top: 15px;
    background-color: #0c0707;
    padding: 15px;
    border-top: 2px solid #c0392b;
}



