* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.conclusion {
    margin: 30px; 
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../MEDIA/img/img_top.jpg");
    background-size: cover;
    background-position: center;
    color: #222;
}

header, .presentation, .elements, footer {
    margin: 15px 0;
    padding: 18px;
    width: 90%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

nav a:hover {
    color: blue;
}

.presentation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    text-align: left;
}

.presentation h2 {
    margin-bottom: 15px;
}

.presentation p {
    max-width: 400px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.presentation img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

.elements h2 {
    text-align: center;
    margin: 20px 0 25px 0;
}

.grille-liens {
    display: flex;
    justify-content: center;
    gap: 20px;        
}

.bloc-lien {
    width: 260px;
    padding: 10px;
    text-align: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
}


.bloc-lien h3 {
    margin-bottom: 10px;
    color: black;
}

.bloc-lien img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 8px;
}

.bloc-lien p {
    color: #555;
}




.bloc-lien ul {
    text-align: left;
    padding-left: 20px;
    margin: 10px 0;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}