* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../MEDIA/img/img_top.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    min-height: 1000px;
}

header {
    margin: 15px 0;
    padding: 18px;
    width: 90%;           
    max-width: 900px;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 8px;
    box-shadow: 0 3px 10px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 32px;
    color: #222;
}

header nav {
    display: flex;
    gap: 18px;
}

nav a {
    text-decoration: none;
    color: #d00;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #0066cc;
}

#texte {
    margin: 10px 0 20px 0;
    padding: 18px;
    width: 90%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 8px;
    box-shadow: 0 3px 10px black;
    text-align: center;
  
}



.BoutonQuiz {
    margin: 20px 0;
    padding: 14px 28px;
    font-size: 18px;
    color: white;
    background: #d32f2f;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 3px 10px black;
}

.BoutonQuiz:hover {
    background: red;
}

.cadre-quiz {
    margin: 15px 0 40px 0;
    padding: 24px;
    width: 90%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 8px;
    box-shadow: 0 3px 10px black;
}

.quiz {
    font-size: 26px;
    font-weight: bold;
    color: #222;
    padding: 0 12px;
    margin-bottom: 15px;
}

.cadre-quiz ol {
    list-style-position: inside;
    padding-left: 0;
}

.cadre-quiz li {
    margin: 24px 0;
    font-size: 18px;
}

.cadre-quiz p {
    font-weight: bold;
    margin-bottom: 12px;
    color: black;
}

.cadre-quiz label {
    cursor: pointer;
    margin-left: 8px;
}

button.quiz , #envoyer{
    margin-top: 30px;
    padding: 12px 30px;
    color: white;
    background: red;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 10px black;
}

button.quiz:hover {
    background: red;
}

footer {
    margin-top: auto;
    margin-bottom: 20px;
    padding: 18px;
    width: 90%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 8px;
    box-shadow: 0 3px 10px black;
    text-align: center;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav a {
    color: #d00;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

footer nav a:hover {
    color: blue;
}

#quizMinecraft {
    display: none;
}

#titreResult, #result {
    display: none;
    width: 90%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 8px;
    margin: 15px;
    text-align: center;
}

#result {
    border-collapse: collapse;
}

#result th, #result td {
    padding: 6px;
    border: 1px solid rgba(141, 118, 118, 0.5);
}